/**
 * Main
 */
body {
  background: #E2B9A2;
}

h1 {
  margin: 10px 0;
}

.fixed-bar {
  background: #6D3722;
  color: #f2f2f2;
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
}

/**
 * Header
 */
.header {
  top: 0;
  border-bottom: 1px solid black;
}

/**
 * Content
 */
.content {
  width: 80%;
  margin: 60px auto 0 auto;
}

/**
 * Footer
 */
.footer {
  bottom: 0;
  border-top: 1px solid black;
}
