doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet", href="css/font-awesome-4.0.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")

  body
    .container
      header.header.fixed-bar
        h1 #{title}

      section.content
        block content

      footer.footer.fixed-bar
        .footer-content
          block footer

    script(src="js/lib/jquery.js")
    script(src="js/main.js")
