extends layout

block content
  .transactions
    table
      tbody
        each transaction in transactions
          tr.row
            td= transaction.date
            td= transaction.name
            td= transaction['formatted-amount']

    div(id="navigation")
      a(href="/transactions/2")


block footer
  a(href="/", class="btn btn-center") Back

block scripts
  script(src="js/lib/jquery.infinitescroll.js")
  script(src="js/transaction-history.js")
