/**
 * Main
 */
body {
  background: #E2B9A2;
}

h1 {
  margin: 14px 0;
  font-size: 1.75em;
}

.fixed-bar {
  background: #6D3722;
  color: #f2f2f2;
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
  z-index: 5;
}

/**
 * Buttons
 */
.btn {
  text-align: center;
  border-radius: 5px;
  margin: 40px auto;
  color: #444;
  text-decoration: none;
  font-weight: 600;

  background-image: -webkit-linear-gradient(top, #FFF 0%, #AAA 100%);
  background-image: -moz-linear-gradient(top, #FFF 0%, #AAA 100%);
  background-image: linear-gradient(top, #FFF 0%, #AAA 100%);

  box-shadow: 0 0.1em .1em .01em rgba(0, 0, 0, 0.5)
}

.btn:hover {
  color: #666;
  box-shadow: inset 0 .1em .1em .07em rgba(0, 0, 0, 0.4)
}

.big-btn {
  width: 70%;
  display: block;
  padding: 25px;
}

/**
 * Header
 */
.header {
  top: 0;
  border-bottom: 1px solid black;
}

/**
 * Content
 */
.content {
  width: 80%;
  margin: 0 auto;
  padding: 70px 0;
}

/* override width for specific Transaction history page */
.transaction-history .content {
  width: 100%;
  padding: 60px 0;
}

/**
 * Send Money
 */
.form-item-wrapper {
  background: #F2F2F2;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
}

.form-item {
  padding: 10px;
  margin: 0 auto;
}

.form-item input[type="text"],
.form-item textarea {
  border: none;
  background: #f2f2f2;
  margin-left: 5px;
  width: auto;
}

.form-item #to {
  width: calc(100% - 56px); /* precisely set input size for responsiveness */
}

.form-item .loader {
  display: none;
  position: absolute;
  right: 10px;
  top: 11px;
  width: 16px;
  height: 16px;
}

.form-item i {
  display: none;
  position: absolute;
  font-size: 22px;
}

  /**
   * icon placements for each field
   */
  .form-item.to i {
    right: 10px;
  }

  .form-item.amount i {
    right: 75px;
  }

  .form-item.payment-for i {
    top: -36px; /* :( */
    left: 180px;
  }

.form-item.valid i.fa-check-circle {
  display: inline-block;
  color: green;
}

.form-item.invalid i.fa-times-circle {
  display: inline-block;
  color: red;
}

.form-item #amount {
  width: calc(100% - 155px); /* precisely set input size for responsiveness */
}
.form-item #currency {
  position: absolute;
  right: 10px;
}

.form-item textarea {
  width: 100%;
  resize: none;
  height: 80px;
  margin: 0;
}

/* Override size to display proper border */
.form-item.payment-for {
  padding: 0;
}

.payment-item {
  position: relative;
}

.payment-item:first-child {
  border-bottom: 1px solid black;
}

.payment-item label {
  width: 100%;
  display: inline-block;
  padding: 10px; /* overriden padding from .form-item is set here */
}

.payment-item input {
  display: none;
}

.payment-item.active {
  font-weight: 600;
  color: #C0802F;
}

.payment-item.active :after {
  content: '✓';
  position: absolute;
  right: 15px;
}

.form-actions {
  display: none;
}

/**
 * Success message
 */
.success-msg {
  text-align: center;
  margin-top: 50px;
}

.success-msg p:after {
  display:block;
  margin-top: 15px;
  content: '✓';
  color: #C0802F;
  font-size: 400%;
}

/**
 * Footer
 */
.footer {
  bottom: 0;
  border-top: 1px solid black;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.footer-content .btn {
  position: absolute;
  padding: 12px 0;
  margin: 10px auto;
  width: 45%;
}

.footer-content .btn-left {
  left: 0;
}

.footer-content .btn-right {
  right: 0;
}

.footer-content .btn-center {
  position: static;
  display: block;
  width: 100%;
}

.footer-content .on-success {
  display: none;
}

/**
 * Transaction History
 */
.transactions {
  text-align: center;
}

.transactions table {
  width: 100%;
}

.transactions td {
  padding: 10px 0;
  text-align: center;
  width: 33.33%;
}

.transactions tr:nth-child(odd) {
  background: #D6A58A;
}

/**
 * Overlay
 */
#overlay {
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .75);
}

#overlay img {
  position: absolute;
  top: calc(50% - 16px); /* centralize exatcly */
}
